@import "tailwindcss";

@theme {
  /* 1. Nos Couleurs personnalisées (Warmr style) */
  --color-warm-bg: #FFFDF8;       /* Le fond crème */
  --color-warm-primary: #FFD065;  /* Le jaune bouton */
  --color-warm-accent: #FFC044;   /* Le jaune foncé (dégradé) */
  --color-dark-900: #111827;      /* Le noir texte */

  /* 2. Notre Ombre spéciale */
  --shadow-floating: 0 10px 40px -10px rgba(0,0,0,0.08);

  /* 3. On écrase la police par défaut par la nôtre */
  --font-sans: var(--font-outfit); 
}

/* Style de base pour tout le site */
body {
  background-color: var(--color-warm-bg);
  color: var(--color-dark-900);
  font-family: var(--font-outfit);
}